* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: $primary-font;
	font-weight: 400;
	font-size: 0.8rem;
	line-height: $line-height;
	color: $primary-text;
	background-color: $primary-background;
	overflow-x: hidden;
}
