.details-form {
	&--custom-select {
		&.errored {
			select {
				border-color: $input-border-error;
			}
		}
	}

	&--selection-group {
		margin-top: 10px;
		display: flex;
		justify-content: space-around;
		&_label {
			position: relative;
			top: 15px
		}
	}

	select {
		@include custom-input-field;
		width: 200px;
		margin-left: 20px;
	}
}
