.form {
	padding-top: 20px;
	.row {
		padding: 10px 0;
		&.in-line {
			display: flex;
			input {
				width: 95%;
				margin: 0;
			}
			:last-child {
				input {
					margin-left: 8px;
				}
			}
		}
	}
	.btn {
		border-radius: 25px;
		background: linear-gradient(to right, $pink, $orange);
		border: none;
		height: 50px;
		font-weight: bold;
		color: white;
		opacity: 0.9;
		width: 100%;
		margin: 0 auto;
		outline: none;

		&:hover {
			opacity: 1;
		}
		&:active {
			background: $pink;
		}
	}
}
