.form {
	padding-top: 20px;
	.row {
		padding: 10px;
	}
	.btn {
		border-radius: 25px;
		background: linear-gradient(to right, #f84282, #f78e53);
		border: none;
		height: 50px;
		font-weight: bold;
		color: white;
		opacity: 0.9;
		width: 100%;
		margin: 0 auto;
		outline: none;
		&:hover {
			opacity: 1;
		}
	}
}
