.custom-input {
	background: white;
	border-radius: 25px;
	border: 1px solid $input-border;
	cursor: text;
	height: 50px;
	margin: 0 auto;

	&.active {
		border: 1px solid $input-border-active;
	}

	&.errored {
		border: 1px solid $input-border-error;
	}

	input {
		bottom: 0;
		box-sizing: border-box;
		left: 0;
		border: none;
		margin: 0 auto;
		top: 15px;
		opacity: 1;
		height: 20px;
		padding-left: 20px;
		margin-left: 4px;
		position: relative;
		width: 97%;
		outline: none;
	}

	&--error-message {
		top: 30px;
		position: relative;
		color: $input-message-error;
		float: right;
	}
}
