.custom-input {
	background: white;
	margin: 10px;
	border-radius: 25px;
	border: 1px solid $input-border;
	cursor: text;
	height: 50px;

	&.active {
		border: 1px solid $input-border-active;
	}

	&.errored {
		border: 1px solid $input-border-error;
	}

	input {
		@include custom-input-field;
	}

	&--error-message {
		top: 30px;
		position: relative;
		color: $input-message-error;
		float: right;
	}
}
