.custom-input {

	&.errored {
		input {
			border-color: $input-border-error
		}
	}

	input {
		@include custom-input-field;
		&:focus {
			border-color: $input-border-active;
		}
	}

	&--error-message {
		top: 30px;
		position: relative;
		color: $input-message-error;
		float: right;
	}
}
