@mixin custom-input-field {
	bottom: 0;
	box-sizing: border-box;
	left: 0;
	border: none;
	top: 15px;
	opacity: 1;
	height: 20px;
	padding-left: 20px;
	margin-left: 4px;
	position: relative;
	width: 95%;
	outline: none;
}

@mixin to-center($width, $height) {
	position: absolute;
	width: $width;
	height: $height;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
