//fonts
$line-height: 1.48;
$primary-font: 'Roboto', sans-serif;

//breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop-medium: 1024px;
$desktop-large: 1200px;

//colors
$black: #000;
$white: #fff;
$dim-gray: #6d6d6d;
$gainsboro: #dadada;
$dark-slate-gray: #283f57;
$royal-blue: #2c65c8;
$crimson: #c8582c;

$header-main-color: #f9f4f1;
$header-border-color: #f3ece6;
$primary-text: $dark-slate-gray;
$primary-background: $white;
$input-border: $gainsboro;
$input-border-active: $royal-blue;
$input-border-error: $crimson;
$input-message-error: $crimson;
